<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>uploader</servlet-name>
        <servlet-class>cc.abstra.trantor.StreamUploaderProxy</servlet-class>
        <init-param>
            <param-name>targetUri</param-name>
            <param-value>http://127.0.0.1:9090/files</param-value>
            <!-- Warning: do not deploy the app listening at targetUri into the same container!
                 There will be a 500 error in the response from targetUri, followed by this exception:
                   java.io.IOException at at HttpURLConnection.getInputStream
                 TODO: report this bug -->
        </init-param>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>uploader</servlet-name>
        <!-- The container will 404 requests to /* -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>